<ul>
    <li><a routerLink="about">About</a></li>
    <li><a routerLink="contact">Contact</a></li>
</ul>
<router-outlet></router-outlet>
<app-sample></app-sample>
<h1 class="sample" style="color:red">App Component</h1>
<input type="text" value="hello">
<h2>{{title+" "+"hello"}}</h2>
<h2>{{sample1}}</h2>
<h2>{{sum(2,3)}}</h2>
<h3>{{3*9}}</h3>
<!-- <img src={{pathv}}> -->
<h1>{{sdate}}</h1>
<h1>{{stime}}</h1>
<h2>{{sampleDate()}}</h2>
<app-test></app-test>
<h2>Property Binding</h2>

<h2>Event Binding</h2>
<app-sample></app-sample>
<app-p-binding></app-p-binding>
